CRYPTR_ACCOUNT_DOMAIN=account-domain
CRYPTR_CLIENT_ID=client-id
CRYPTR_SERVICE_URL=https://cryptr-service.url
CRYPTR_AUDIENCE=audience
CRYPTR_DEFAULT_REDIRECT_URI=http://redirect-uri
CRYPTR_DEDICATED_SERVER=true
CRYPTR_NO_POPUP_NO_COOKIE=false
CRYPTR_DEFAULT_LOCALE=en
