<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnativecryptr">

  <application>
    <activity
      android:name="com.reactnativecryptr.CryptrAuthActivity"
      android:exported="true">
        <intent-filter android:autoVerify="true">
          <action android:name="android.intent.action.VIEW" />

          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />

          <data
            android:host="${cryptrDomain}"
            android:scheme="${cryptrScheme}"
          />
        </intent-filter>
    </activity>
  </application>
</manifest>
